.active {
    background-color: #365ab8;
    color: white;
}

canvas#myChart {
    height: 450px;
}

.border-r {
    border-right: 1px solid #0c0c0c !important;
}
@media (max-width: 768px){
    .border-r {
        border-right: none !important;
    }
}
.table {
    border: 1px solid;
}
.table th{
    background: #F5F5F5;
}
