.btn_add
{
    background-color: #494545;
    color: white;
    border-radius: 10px;
    border: none;
    width: 31px;
    height: 22px;
}

.ln_company::after {
    content: '';
    position: absolute;
    border-left: 2px solid black;
    height: 93%;
    top: 5%;
    right: 50%;
  }
@media (max-width: 768px) {
    .ln_company::after {
        content: none;
    }
}


.company-bank {
    position: relative;
}

.option_close{
    border: 1px solid rgb(194, 194, 194);
}

.btn-close {
    position: absolute;
    top: 2px;
    right: -11px;
    background-color: #eee;
    border: 1px solid rgb(194, 194, 194);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 9999;
    opacity: 1 !important;
}
