.group-status .active{
    background: #0553e1 !important;
    color: white;
}
tbody tr td:first-child {
    min-width: 130px;
}
.icon_arrou_table{
    background: #2b7af1;
    color: white;
    border-radius: 50%;
    font-size: 12px;
    padding: 2px 2px 1px;
}
tbody tr td:last-child {
    min-width: 50px;
}

.button-status:hover {
    background: #0553e1 !important;
    color: white;
    transform: scale(1.1);
}
