.border-bottom-solid-project {
    border-bottom: solid 1px #3b474c;
}

.table-style-project th {
    background-color: #494545;
    color: #fff;
    border: 1px solid #707070;
}

.table-style-project td {
    background-color: #fff;
}

.border-radius-20 {
    border-radius: 20px;
}

.bg-gainsboro {
    background-color: #EDEDED;
}

.table-style-gainsboro th {
    background-color: #EDEDED;
}

.border-right-none {
    border-right: none;
}

.border-left-none {
    border-right: none;
}

.border-top-none {
    border-right: none;
}

.border-bottom-none {
    border-right: none;
}

.text-right {
    text-align: right;
}

.input-special .group-input .col-6 {
    width: 51%;
}

/* nav tab */
.custom_button {
    border: 1px solid !important;
    width: 95%;
    color: black;
    border-radius: 50px !important;
}

.table_container {
    overflow: auto;
}

.table_container td {
    min-width: 170px;
}

.href-related-file {
    text-decoration: underline !important;
}

.input-related-file {
    color: #3f6ad8;
    font-style: italic;
}

.input-container-related {
    position: relative;
    display: inline-block;
}

.input-container-related input {
    padding-right: 50px;
}

.input-container-related .done-related {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    color: #20ac37;
}

.input-container-related .cancel-related {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #e15656;
}

.remove-related-file {
    margin-top: 1px;
}

.edit-related-file:hover,
.remove-related-file:hover,
.done-related:hover,
.cancel-related:hover {
    transform: translateY(-50%) scale(1.1);
}

.edit-related-file, .remove-related-file {
    transform: translateY(-50%) scale(0.8);
}

.round-button {
    width: 30px;
    height: 30px;
    background-color: #494545;
    border: none;
    border-radius: 50%;
    color: #fff;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.href-related-file {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
}

.editable-text div[contenteditable]{
    background-color: transparent;
    border: none;
    outline: none;
    color: inherit;
    width: 98%;
}

.add-shipping-fees div:focus-visible{
    background-color: #FFFFFF;
}

.name-shipping-fee div[contenteditable] {
    width: 98%;
}


.circular-button-remove {
    width: 20px;
    height: 20px;
    color: #fff;
    font-size:10px;
    background-color: #494545;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-direction: row;
    font-weight: bold;
}

.circular-button {
    right: 90px;
    position: absolute;
    width: 20px;
    height: 20px;
    color: #fff;
    font-size:10px;
    background-color: #494545;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-direction: row;
    font-weight: bold;
}

.circular-button:hover {
    transform: scale(1.1);
}

.estimate-items-tbody tr {
    background-color: var(--bs-table-bg);
}


.border-contenteditable {
    padding: 5px;
    border: 1px solid #707070;
    border-radius: 7px;
    background: #fff;
}

.btn-full-height {
    height:100%;
}

.readonly-input[readonly] {
    background-color: #FFFFFF !important;
}

.text-md-end {
    white-space: nowrap
}

@media (min-width: 1400px) and (max-width: 1555px) {
    .select-top .group-one-line {
        flex: 0 0 auto;
        width: 100%;
        margin-top: 1.5rem !important;
        justify-content: normal !important;
    }
}
